build/
dist/
.idea/
QuantStudio.egg-info/
QuantStudio/Backup/
example/data/
doc/data/
QuantStudio/Tools/QtGUI/.eric6project/
__*/
_eric*/
backup/
TestCoverage.bat
.DS_Store
*.coverage
*.e4p
*.bak
*.dat
*.dir
*.json
*.hdf5
*.wpr
*.wpu
*.code-workspace
*.env