build/
dist/
.idea/
QuantStudio.egg-info/
Backup/
backup/
examples/data/
docs/data/
tests/data/
scripts/data/
QuantStudio/Tools/QtGUI/.eric6project/
__*/
_eric*/
TestCoverage.bat
.DS_Store
*.coverage
*.e4p
*.bak
*.dat
*.dir
*.json
*.hdf5
*.wpr
*.wpu
*.code-workspace
*.env