numpy
pandas
scipy
cvxpy
matplotlib
statsmodels
h5py
cx-Oracle
pymssql
mysql-connector-python<=8.0.16
pyodbc
chardet
progressbar2
fasteners
traits<5.2.0
pyface<7.0.0
traitsui<7.0.0
tushare
xlrd
xlwt
openpyxl
Jinja2