numpy
pandas
scipy
cvxpy
matplotlib
statsmodels
h5py
cx-Oracle
pymssql
mysql-connector-python<=8.0.16
pyodbc
chardet
progressbar2
fasteners
traits
tushare
xlrd
xlwt
openpyxl
tables
Jinja2
sympy
ipython